doctype html
html(lang="en")
    head
        include includes/head.pug
        title Wallet binding
    body
        include includes/cerby.pug
        .container
            .wallet-connect
                .top-head
                    h2 Wallet binding
                .text
                    p Hi #{first_name}#{last_name ? ' ' + last_name : ''}, You are connecting your wallet to your telegram account. Click the «Connect wallet» button to continue
                    button#wallet-connect-metamask(disabled) Checking metamask...
                .attention
                    p
                        | Attention! Only follow the links from official Cerby Bot: 
                        a.bot(href="https://t.me/CerbyPremiumBot") @CerbyPremiumBot
            .qr
        include includes/scripts.pug